
<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/header') %>
</head>    
<body style="background-image: url(/images/pattern1.jpg);background-size: 46vw; overflow-x: hidden;">     
<%- include('partials/navbar') %>  


<div class="container">
  <div class="jumbotron">
    <div class="area1"><img  src="/images/jumbo.jpg" alt=""></div>
    <div class="area2">
      <h2>Welcome to CookDiaaries..</h2>
      <p>This is a quest of recipes you are looking for!! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est libero esse doloremque dolorum adipisci quod repellendus fugiat hic saepe fuga, maxime possimus ex cupiditate eligendi a vitae repudiandae minus consequatur.</p>
    </div>
  </div>
  <a class="btn" href="/dishes/new"> Add new recipe in your diaary</a>

    <div class="row text-center d-flex" style=" flex-wrap:wrap;">
      <% dishes.forEach((elt)=>{ %>
      <div class="col-md-4 col-sm-6" >
          <div class="card" >
              <img class="card-img-top" src="<%= elt.image%>" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title"><i class="fa fa-spoon" aria-hidden="true"></i> <%= elt.name %> <i class="fa fa-spoon" aria-hidden="true"></i></h4>
                <p class="card-text "><i class="fa fa-globe" aria-hidden="true"></i> <%- elt.cruisine %> cruisine</p>
                <p class="card-text "><i class="fa fa-circle" aria-hidden="true"></i> <%- elt.veg %></p>
                <p class="card-text "><i class="fa fa-users" aria-hidden="true"></i> Serves <%- elt.serves %> people</p>
                <p class="card-text "><i class="fa fa-clock-o" aria-hidden="true"></i> <%- elt.duration %> minutes</p>
                <div>
                  <p class="card-text"><i class="fa fa-glass" aria-hidden="true"></i> <%- elt.desc %></p>
                  <p class="card-text"><i class="fa fa-user" aria-hidden="true"></i> By: <%- elt.author.username %></p>
                </div>  
                </div>
                <a href="/dishes/<%= elt._id %>" class="btn btn-primary"><i class="fa fa-cutlery" aria-hidden="true"></i> Cook Now..</a>
              
          </div>            
      </div>
      <%});%> 
  </div>

</div>
<!-- <div id="latest">
  <img class="rnd" src="/images/cook1.jpg" alt="">
  <img class="rnd" src="/images/cook1.jpg" alt="">
  <img class="rnd" src="/images/cook1.jpg" alt="">
  <img class="rnd" src="/images/cook1.jpg" alt="">
  <img class="rnd" src="/images/cook1.jpg" alt="">
</div> -->