<h1>Show templ</h1>
<%= dish.name%>
<img src="<%= dish.image%>" alt="">

<%= dish.desc%>
<% dish.comments.forEach((cmnt)=>{%>
    <strong><p><%- cmnt.author%> - <%- cmnt.text%></p></strong>
    <p>
        <a href="/dishes/<%-dish._id%>/comments/new"> Add new Comment </a>
    </p>
<%})%>